<section class="product-bg">
    <nav>
        <ul class="product-bg__ul container">
            <li><a id="product-bg__link-new" href="">Новинки</a></li>
            <li><a href="">Акции</a></li>
        </ul>
    </nav>
    <div class="owl-carousel owl-theme">
        <div class="product-bg__common-block container">
            <div class="product-bg__common">
                <img class="product-bg__position" src="../../www/img/section-7-slider/3.png" alt="">
                <p class="product-bg__position-text">new</p>
                <img class="product-bg__img-main" src="../../www/img/section-4-slider/3.png" alt="">
                <div class="product-bg__description">
                    <h2>Кунсей батакон</h2>
                    <p class="product-bg__value">8 шт. | 250 г. | 350 Kkal</p>
                    <div class="product-bg__price-block">
                        <p class="product-bg__price">260 руб.</p>
                        <div class="product-bg__button-block">
                            <button class="product-bg__minus">-</button>
                            <p class="product-bg__quantity">1</p>
                            <button class="product-bg__plus">+</button>
                        </div>
                    </div>
                    <div class="product-bg__basket"><a href="">В корзину <img
                                src="../../www/img/section-3-slider/online-shopping.png" alt=""></a></div>
                </div>
            </div>

            <div class="product-bg__common">
                <img class="product-bg__position" src="../../www/img/section-7-slider/3.png" alt="">
                <p class="product-bg__position-text">new</p>
                <img class="product-bg__img-main" src="../../www/img/section-4-slider/4.png" alt="">
                <div class="product-bg__description">
                    <h2>Кунсей батакон</h2>
                    <p class="product-bg__value">8 шт. | 250 г. | 350 Kkal</p>
                    <div class="product-bg__price-block">
                        <p class="product-bg__price">260 руб.</p>
                        <div class="product-bg__button-block">
                            <button class="product-bg__minus">-</button>
                            <p class="product-bg__quantity">1</p>
                            <button class="product-bg__plus">+</button>
                        </div>
                    </div>
                    <div class="product-bg__basket"><a href="">В корзину <img
                                src="../../www/img/section-3-slider/online-shopping.png" alt=""></a></div>
                </div>
            </div>

            <div class="product-bg__common">
                <img class="product-bg__position" src="../../www/img/section-7-slider/3.png" alt="">
                <p class="product-bg__position-text">new</p>
                <img class="product-bg__img-main" src="../../www/img/section-4-slider/5.png" alt="">
                <div class="product-bg__description">
                    <h2>Кунсей батакон</h2>
                    <p class="product-bg__value">8 шт. | 250 г. | 350 Kkal</p>
                    <div class="product-bg__price-block">
                        <p class="product-bg__price">260 руб.</p>
                        <div class="product-bg__button-block">
                            <button class="product-bg__minus">-</button>
                            <p class="product-bg__quantity">1</p>
                            <button class="product-bg__plus">+</button>
                        </div>
                    </div>
                    <div class="product-bg__basket"><a href="">В корзину <img
                                src="../../www/img/section-3-slider/online-shopping.png" alt=""></a></div>
                </div>
            </div>

            <div class="product-bg__common">
                <img class="product-bg__position" src="../../www/img/section-7-slider/3.png" alt="">
                <p class="product-bg__position-text">new</p>
                <img class="product-bg__img-main" src="../../www/img/section-4-slider/6.png" alt="">
                <div class="product-bg__description">
                    <h2>Кунсей батакон</h2>
                    <p class="product-bg__value">8 шт. | 250 г. | 350 Kkal</p>
                    <div class="product-bg__price-block">
                        <p class="product-bg__price">260 руб.</p>
                        <div class="product-bg__button-block">
                            <button class="product-bg__minus">-</button>
                            <p class="product-bg__quantity">1</p>
                            <button class="product-bg__plus">+</button>
                        </div>
                    </div>
                    <div class="product-bg__basket"><a href="">В корзину <img
                                src="../../www/img/section-3-slider/online-shopping.png" alt=""></a></div>
                </div>
            </div>


        </div>




        <div class="product-bg__common-block container">
            <div class="product-bg__common">
                <img class="product-bg__position" src="../../www/img/section-7-slider/3.png" alt="">
                <p class="product-bg__position-text">new</p>
                <img class="product-bg__img-main" src="../../www/img/section-4-slider/3.png" alt="">
                <div class="product-bg__description">
                    <h2>Кунсей батакон</h2>
                    <p class="product-bg__value">8 шт. | 250 г. | 350 Kkal</p>
                    <div class="product-bg__price-block">
                        <p class="product-bg__price">260 руб.</p>
                        <div class="product-bg__button-block">
                            <button class="product-bg__minus">-</button>
                            <p class="product-bg__quantity">1</p>
                            <button class="product-bg__plus">+</button>
                        </div>
                    </div>
                    <div class="product-bg__basket"><a href="">В корзину <img
                                src="../../www/img/section-3-slider/online-shopping.png" alt=""></a></div>
                </div>
            </div>

            <div class="product-bg__common">
                <img class="product-bg__position" src="../../www/img/section-7-slider/3.png" alt="">
                <p class="product-bg__position-text">new</p>
                <img class="product-bg__img-main" src="../../www/img/section-4-slider/4.png" alt="">
                <div class="product-bg__description">
                    <h2>Кунсей батакон</h2>
                    <p class="product-bg__value">8 шт. | 250 г. | 350 Kkal</p>
                    <div class="product-bg__price-block">
                        <p class="product-bg__price">260 руб.</p>
                        <div class="product-bg__button-block">
                            <button class="product-bg__minus">-</button>
                            <p class="product-bg__quantity">1</p>
                            <button class="product-bg__plus">+</button>
                        </div>
                    </div>
                    <div class="product-bg__basket"><a href="">В корзину <img
                                src="../../www/img/section-3-slider/online-shopping.png" alt=""></a></div>
                </div>
            </div>

            <div class="product-bg__common">
                <img class="product-bg__position" src="../../www/img/section-7-slider/3.png" alt="">
                <p class="product-bg__position-text">new</p>
                <img class="product-bg__img-main" src="../../www/img/section-4-slider/5.png" alt="">
                <div class="product-bg__description">
                    <h2>Кунсей батакон</h2>
                    <p class="product-bg__value">8 шт. | 250 г. | 350 Kkal</p>
                    <div class="product-bg__price-block">
                        <p class="product-bg__price">260 руб.</p>
                        <div class="product-bg__button-block">
                            <button class="product-bg__minus">-</button>
                            <p class="product-bg__quantity">1</p>
                            <button class="product-bg__plus">+</button>
                        </div>
                    </div>
                    <div class="product-bg__basket"><a href="">В корзину <img
                                src="../../www/img/section-3-slider/online-shopping.png" alt=""></a></div>
                </div>
            </div>

            <div class="product-bg__common">
                <img class="product-bg__position" src="../../www/img/section-7-slider/3.png" alt="">
                <p class="product-bg__position-text">new</p>
                <img class="product-bg__img-main" src="../../www/img/section-4-slider/6.png" alt="">
                <div class="product-bg__description">
                    <h2>Кунсей батакон</h2>
                    <p class="product-bg__value">8 шт. | 250 г. | 350 Kkal</p>
                    <div class="product-bg__price-block">
                        <p class="product-bg__price">260 руб.</p>
                        <div class="product-bg__button-block">
                            <button class="product-bg__minus">-</button>
                            <p class="product-bg__quantity">1</p>
                            <button class="product-bg__plus">+</button>
                        </div>
                    </div>
                    <div class="product-bg__basket"><a href="">В корзину <img
                                src="../../www/img/section-3-slider/online-shopping.png" alt=""></a></div>
                </div>
            </div>


        </div>
    </div>
    </div>
</section>