<section class="leave-contacts">
    <p class="leave-contacts__question">Есть вопросы?</p>
    <h2>Оставьте <br class="leave-contacts__media-phone-headline"> свои контакты</h2>
    <div class="leave-contacts__common container">
        <div class="leave-contacts__input-block">
            <input placeholder="Серге|" type="text">
            <input class="leave-contacts__phone" placeholder="Телефон" type="number">
            <a href="">Отправить</a>
        </div>
        <p class="leave-contacts__sending-data">Нажимая на кнопку «Отправить», вы даете согласие на обработку своих персональных
            данных.</p>
    </div>
</section>