<div class="ten-reasons__common">
    <div class="sets-one ten-reasons-headline">
        <h2>10 причин купить у нас</h2>
    </div>

    <div class="ten-reasons container">
        <div class="ten-reasons__block">
            <img src="../../www/img/10-reasons/1.png" alt="">
            <p>100% ручная работа</p>
        </div>

        <div class="ten-reasons__block">
            <img src="../../www/img/10-reasons/2.png" alt="">
            <p>100% свежие<br>ингредиенты</p>
        </div>

        <div class="ten-reasons__block">
            <img src="../../www/img/10-reasons/3.png" alt="">
            <p>Самые низкие цены на<br>рынке! (Нет ресторанной<br> наценки)</p>
        </div>

        <div class="ten-reasons__block">
            <img src="../../www/img/10-reasons/4.png" alt="">
            <p>Постоянный контроль <br>качества на всех этапах</p>
        </div>

        <div class="ten-reasons__block">
            <img src="../../www/img/10-reasons/5.png" alt="">
            <p>Только охлажденная<br> рыба (никакой<br> заморозки)</p>
        </div>

        <div class="ten-reasons__block ten-reasons__block-two">
            <img src="../../www/img/10-reasons/6.png" alt="">
            <p>Мы используем только<br>дорогой рис из Японии</p>
        </div>

        <div class="ten-reasons__block ten-reasons__block-two">
            <img src="../../www/img/10-reasons/7.png" alt="">
            <p>Больше начинки,<br> меньше риса!</p>
        </div>

        <div class="ten-reasons__block ten-reasons__block-two">
            <img src="../../www/img/10-reasons/8.png" alt="">
            <p>Мы не заменяем авокадо <br>огурцом!</p>
        </div>

        <div class="ten-reasons__block ten-reasons__block-two">
            <img src="../../www/img/10-reasons/9.png" alt="">
            <p>Вся пицца готовится из<br> итальянской муки и<br> Итальянского соуса</p>
        </div>

        <div class="ten-reasons__block ten-reasons__block-two ten-reasons__media-tablet">
            <img src="../../www/img/10-reasons/10.png" alt="">
            <p>Мы не используем<br> майонез</p>
        </div>
    </div>

</div>