@media screen and (min-width: 750px) and (max-width: 1170px) {
    .ten-reasons {
        flex-wrap: wrap;
        padding-top: 55px;
    }

    .ten-reasons__block {
        width: 33%;
    }

    .ten-reasons__media-tablet {
        width: 100%;
    }


}