<section>
    <div class="sets-one sets-one-reviews">
        <img class="set-img" src="../../www/img/section-3-slider/1.png" alt="">
        <h2>Отзывы</h2>
        <img class="set-img-two" src="../../www/img/section-3-slider/2.png" alt="">
    </div>
    <div class="reviews container reviews__media-tablet-container">
        <div class="reviews__reviews-block">
            <div class="reviews__photo">
                <img src="../../www/img/reviews/1.png" alt="">
                <div class="reviews__name">
                    <h2>Надежда Наширбанова</h2>
                    <p class="reviews__date">5 авг 2017 в 9:58</p>
                </div>
            </div>
            <p class="reviews__comment">Спасибо за быструю доставку!<br>Отличный поздний ужин после<br> рабочего
                дня )</p>
            <img src="../../www/img/reviews/2.png" alt="">
            <img class="reviews__vk" src="../../www/img/reviews/3.png" alt="">
        </div>

        <div class="reviews__reviews-block">
            <div class="reviews__photo">
                <img src="../../www/img/reviews/1.png" alt="">
                <div class="reviews__name">
                    <h2>Надежда Наширбанова</h2>
                    <p class="reviews__date">5 авг 2017 в 9:58</p>
                </div>
            </div>
            <p class="reviews__comment">Спасибо за быструю доставку!<br>Отличный поздний ужин после<br> рабочего
                дня )</p>
            <img src="../../www/img/reviews/2.png" alt="">
            <img class="reviews__vk" src="../../www/img/reviews/3.png" alt="">
        </div>

        <div class="reviews__reviews-block reviews__media-tablet reviews__media-phone">
            <div class="reviews__photo">
                <img src="../../www/img/reviews/1.png" alt="">
                <div class="reviews__name">
                    <h2>Надежда Наширбанова</h2>
                    <p class="reviews__date">5 авг 2017 в 9:58</p>
                </div>
            </div>
            <p class="reviews__comment">Спасибо за быструю доставку!<br>Отличный поздний ужин после<br> рабочего
                дня )</p>
            <img src="../../www/img/reviews/2.png" alt="">
            <img class="reviews__vk" src="../../www/img/reviews/3.png" alt="">
        </div>
    </div>
</section>