<section>
	<div class="owl-carousel owl-theme header-carusel">
		<% [1, 1, 1].forEach((user) => { %>
			<div class="item">
				<div class="slider-common">
					<div class="container">
						<div class="slider-common__slider">
							<div class="slider-common__headline-common">
								<h1 class="slider-common__headline">Счастливые</h1><br><span class="headline headline-two">часы</span>
								<p>с 11:00 до 16:00 в будние дни</p>
								<a href="">Подробнее</a>
							</div>
							<div class="slider-common__discount">
								<p>скидка <br> 15%</p>
							</div>
						</div>
					</div>
				</div>  
			</div>
		<% }); %>
	</div>
</section>


