<header class="header">
	<div class="header__one-line container">
		<div class="header__logo">
			<img src="../../www/img/header/Миюши лого.png" alt="Logo">
		</div>

		<div class="header__address">
			<img src="../../www/img/header/maps-and-flags.png" alt="address">
			<p>г. Курск, ул. Ленина, д. 3</p>
		</div>

		<div class="header__email">
			<img src="../../www/img/header/envelope.png" alt="email">
			<p>78003332222@yandex.ru</p>
		</div>

		<div class="header__phone-block">
			<p class="header__phone">+7 (800) 333 2 222</p>
			<p class="header__working-hours">Работаем с 11.00 до 23.00</p>
		</div>

		<a class="header__back-call">Обратный звонок</a>
	</div>

	<%- include('../menu/menu.ejs'); -%>
	<%- include('../menu/menu-bascet.ejs'); -%>

</header>

<header class="header-media-tablet header__container-media-tablet">

	<img class="header-media-tablet__burger" src="../../www/img/media/header-tablet/burger.png" alt="">
	<img class="header-media-tablet__logo" src="../../www/img/header/Миюши лого.png" alt="">
	<div>
		<img class="header-media-tablet__user" src="../../www/img/header/user.png" alt="">
		<img src="../../www/img/header/cart.png" alt="">
	</div>
</header>

<header class="header-media-phone">

	<img class="header-media-phone__burger" src="../../www/img/media/header-tablet/burger.png" alt="">
	<img class="header-media-phone__logo" src="../../www/img/media/header-phone/phone-logo.png" alt="">
	<div>
		<img class="header-media-phone__user" src="../../www/img/header/user.png" alt="">
		<img class="header-media-phone__basket" src="../../www/img/header/cart.png" alt="">
	</div>
</header>