<footer class="footer">
	<div class="footer__one-line container">
		<ul class="footer__block-one">
			<li><a href="">Суши</a></li>
			<li><a href="">Гунканы</a></li>
			<li><a href="">Инари</a></li>
			<li><a href="">Супы</a></li>
			<li><a href="">Салаты</a></li>
			<li><a href="">Горячие закуски</a></li>
			<li><a href="">Десерты</a></li>
			<li><a href="">Напитки </a></li>
			<li><a href="">Дополительно</a></li>
		</ul>

		<ul class="footer__block-two">
			<p>Сеты</p>
			<li><a href="">До 500 руб.</a></li>
			<li><a href="">До 1000 руб. (для двоих)</a></li>
			<li><a href="">До 1500 руб (для двоих - троих)</a></li>
			<li><a href="">До 2000 руб (большая кампания)</a></li>
			<li><a href="">Горячие закуски</a></li>
			<li><a href="">от 2000 руб (очень большая<br>кампания)</a></li>
			<li><a href="">Напитки </a></li>
			<li><a href="">Дополительно</a></li>
		</ul>

		<ul class="footer__block-two footer__block-three">
			<li><a href=""> С угрем</a></li>
			<li><a href="">Горячие</a></li>
			<li><a href=""> Запеченые</a></li>
			<li><a href="">Запеченые</a></li>
			<li><a href="">Суши</a></li>
		</ul>

		<ul class="footer__block-two">
			<p>Роллы</p>
			<li><a href="">Традиционные/Классические</a></li>
			<li><a href="">Простые</a></li>
			<li><a href="">Теплые</a></li>
			<li><a href="">Запеченые</a></li>
			<li><a href="">Вегитарианские </a></li>
		</ul>

		<ul class="footer__block-two">
			<p>Вок</p>
			<li><a href="">Яичная </a></li>
			<li><a href="">Удон</a></li>
			<li><a href="">Гречневая</a></li>
			<li><a href="">Стеклянная</a></li>
			<li><a href="">Рис</a></li>
		</ul>


		<ul class="footer__block-two">
			<p>Пицца</p>
			<li><a href="">Мясная </a></li>
			<li><a href="">Рыбная</a></li>
			<li><a href="">Сырная</a></li>
			<li><a href="">Вегитарианская</a></li>
		</ul>
	</div>

	<div class="footer__two-line container">
		<p>МИЮШИ © 2017</p>
		<a href="">Соглашение на обработку персональных данных</a>
		<div class="footer__social">
			<img src="../../www/img/footer/instagram.png" alt="">
			<img src="../../www/img/footer/vk.png" alt="">
			<img src="../../www/img/footer/facebook.png" alt="">
		</div>
	</div>
</footer>

<footer class="footer-media-tablet-phone">
	<div class="footer-media-tablet-phone__common">
		<li class="footer-media-tablet-phone__menu"><a href="#">Меню</a>

			<ul class="footer-media-tablet-phone__ul">
				<li><a href="">Суши</a></li>
				<li><a href="">Гунканы</a></li>
				<li><a href="">Инари</a></li>
				<li><a href="">Супы</a></li>
				<li><a href="">Салаты</a></li>
				<li><a href="">Горячие закуски</a></li>
				<li><a href="">Десерты</a></li>
				<li><a href="">Напитки </a></li>
				<li><a href="">Дополительно</a></li>
			</ul>
		</li>

		<li class="footer-media-tablet-phone__menu"><a href="">Сеты</a>
			<ul class="footer-media-tablet-phone__ul">
				<li><a href="">До 500 руб.</a></li>
				<li><a href="">До 1000 руб. (для двоих)</a></li>
				<li><a href="">До 1500 руб (для двоих - троих)</a></li>
				<li><a href="">До 2000 руб (большая кампания)</a></li>
				<li><a href="">Горячие закуски</a></li>
				<li><a href="">от 2000 руб (очень большая<br>кампания)</a></li>
				<li><a href="">Напитки </a></li>
				<li><a href="">Дополительно</a></li>
				<li><a href=""> С угрем</a></li>
				<li><a href="">Горячие</a></li>
				<li><a href=""> Запеченые</a></li>
				<li><a href="">Запеченые</a></li>
				<li><a href="">Суши</a></li>
			</ul>
		</li>

		<li class="footer-media-tablet-phone__menu"><a href="">Роллы</a>
			<ul class="footer-media-tablet-phone__ul">
				<li><a href="">Традиционные/Классические</a></li>
				<li><a href="">Простые</a></li>
				<li><a href="">Теплые</a></li>
				<li><a href="">Запеченые</a></li>
				<li><a href="">Вегитарианские </a></li>
			</ul>
		</li>

		<li class="footer-media-tablet-phone__menu"><a href="">Вок</a>
			<ul class="footer-media-tablet-phone__ul">
				<li><a href="">Яичная </a></li>
				<li><a href="">Удон</a></li>
				<li><a href="">Гречневая</a></li>
				<li><a href="">Стеклянная</a></li>
				<li><a href="">Рис</a></li>
			</ul>
		</li>

		<li class="footer-media-tablet-phone__menu"><a href="">Пицца</a>
			<ul class="footer-media-tablet-phone__ul">
				<li><a href="">Мясная </a></li>
				<li><a href="">Рыбная</a></li>
				<li><a href="">Сырная</a></li>
				<li><a href="">Вегитарианская</a></li>
			</ul>
		</li>

	</div>
	<div class="footer-media-tablet-phone__sicial-common container">
		<p>МИЮШИ © 2017</p>
		<a href="">Соглашение на обработку персональных данных</a>
		<div class="footer-media-tablet-phone__sicial">
			<img src="../../www/img/footer/instagram.png" alt="">
			<img src="../../www/img/footer/vk.png" alt="">
			<img src="../../www/img/footer/facebook.png" alt="">
		</div>
	</div>
</footer>