<section>
    <div class="sets-one about-company__heabline">
        <img class="set-img" src="../../www/img/section-3-slider/1.png" alt="">
        <h2>О компании</h2>
        <img class="about-company__img set-img-two" src="../../www/img/section-3-slider/2.png" alt="">
    </div>
    <h2 class="about-company__headline-two">Заказ и доставка роллов,пиццы и WOK(Вок) в городе Курск</h2>
    <div class="about-company container">
        <div class="about-company__block-one">
            <span>Суши МИЮШИ открылись в октябре 2012г. и уже завоевали успех у тех, кто ценит японскую кухню и
                качественное</span>
            <span>приготовление блюд.</span>
            <br>
            <br>
            <span>С 2013 года мы осуществляем не только доставку на дом, теперь для вас открыт наш уютный небольшой зал.
                Придя</span>
            <span> сюда, вы сможете плотно пообедать, насладиться прекрасными напитками, посидеть с
                друзьями или обзавестись</span>
            <span>новыми знакомствами.</span>
            <br>
            <br>
            <span>Открывая зал, Мы преследовали цель предоставить своим посетителям максимум удобства и комфорта,
                поэтому,</span>
            <span>придя сюда в первый раз, вы почувствуете себя как рыба в воде, окунувшись в домашнюю и
                теплую обстановку!</span>
            <br>
            <br>
            <div class="about-company__block-media-phone-text">
                <span>Особое внимание мы уделяем организации доставки суши и других блюд, которая осуществляется только
                    по
                    г.</span>
                <span>Курске. Четкая и слаженная работа курьеров позволяет максимально сократить время от
                    приготовления блюда до</span>
                <span> его попадания на стол заказчику. Как правило, оно составляет от 20 до 60
                    минут в зависимости от местонахождения</span>
                <span> клиента. Операторы службы доставки всегда осведомлены обо
                    всех изменениях времени доставки и</span>
                <span> предупреждают клиентов заранее, а при возможных серьезных
                    задержках в связи с дорожной ситуацией предложат</span>
                <span>Вам альтернативу. Мы беремся только за ту
                    работу, которую можем выполнить в срок.</span>

                <br>
                <br>
                <div class="about-company__block-text"><span>В меню суши МИЮШИ представлено все многообразие японской
                        кухни.
                        Классические суши, и роллы
                        приготовлены</span>
                    <span> в соответствии с традиционными рецептами. Для любителей нежных и тающих во рту блюд
                        предлагаются роллы с</span>
                    <span> мясом краба, а также для больших любителей копченого угря потрясающий ролл
                        Дракон. Для желающих пробовать</span>
                    <span> что-то новое и необычное – острые ГУНКАНЫ и новинка нашего меню -
                        ИНАРИ, широкий выбор горячих роллов.</span>
                    <span> Большим компаниям будет удобно заказать суши и роллы,
                        объединенные в сеты, включающие сразу несколько</span>
                    <span> видов каждого из этих блюд. Кроме того, меню
                        суши МИЮШИ не ограничено только японской кухней, здесь всегда</p>
                        <span> можно заказать горячие и холодные
                            блюда ЛАПША или РИС WOK с различными мясными и рыбными</span>
                        <span> наполнителями, салаты, горячие закуски и
                            различные напитки.
                        </span>
                </div>
            </div>
        </div>

        <div class="about-company__block-two">
            <img src="../../www/img/about-company/1.png" alt="">
        </div>
    </div>
</section>